<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.OrderFormMapper">

    <sql id="Base_Column_List">
        user_id,username,real_name,avatar,email,phone_number,registration_date,enable_status
    </sql>

    <select id="selectAll" resultType="com.example.entity.OrderForm">
        select
        <include refid="Base_Column_List" />,role_name,u.role_id
        from user u
        left join role r on r.role_id = u.role_id
        <where>
            <if test="username != null"> and username like concat('%', #{username}, '%')</if>
            <if test="realName != null"> and real_name = like concat('%', #{realName}, '%')</if>
            <if test="enableStatus != null"> and enable_status= #{enableStatus}</if>
        </where>
        order by user_id asc
    </select>



</mapper>